/* App.css */
.connect-wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.connect-wallet-btn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #3b99fc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.connect-wallet-btn:disabled {
  background-color: #aaa;
}

.connect-wallet-btn:hover:not(:disabled) {
  background-color: #2f7dcd;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
